.main{
border: 54px solid rgb(153, 73, 7);
border-radius: 100%;
border-radius: 38%;
border-style:groove;
}

.h1{
    margin-bottom: 9%;
}


.thbtn{
    border-style :groove;
    border-color: rgb(26, 123, 202);
    border-width: 10px;
    border-right-style: groove;

   
}

